In [1]:
import datetime
from datetime import datetime, date
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 250)
%matplotlib inline

In [2]:
txt_t1 = open("./data/filetest.txt", encoding='UTF-8-SIG')
strings = txt_t1.read()
print(strings)
strings

홍길동-202001001
aa이순신-202001002
강감찬-202001003
이성계-202001004
bv을지문덕-202001005
연개소문-202001006
안중근-202001007
cx김구-202001008
정도전-202001009
이황-202001010
유재석-202001011
박명수-202001012
정준하-202001013
qe정형돈-202001014
노홍철-202001015
하동훈-202001016

'\n홍길동-202001001\naa이순신-202001002\n강감찬-202001003\n이성계-202001004\nbv을지문덕-202001005\n연개소문-202001006\n안중근-202001007\ncx김구-202001008\n정도전-202001009\n이황-202001010\n유재석-202001011\n박명수-202001012\n정준하-202001013\nqe정형돈-202001014\n노홍철-202001015\n하동훈-202001016\n'

In [3]:
txt_ko = re.sub("[|A-Z,a-z-0-9|]","",strings)
txt_ko

'\n홍길동\n이순신\n강감찬\n이성계\n을지문덕\n연개소문\n안중근\n김구\n정도전\n이황\n유재석\n박명수\n정준하\n정형돈\n노홍철\n하동훈\n'

In [4]:
txt_ko = txt_ko.strip()
txt_ko

'홍길동\n이순신\n강감찬\n이성계\n을지문덕\n연개소문\n안중근\n김구\n정도전\n이황\n유재석\n박명수\n정준하\n정형돈\n노홍철\n하동훈'

In [5]:
txt_ko = txt_ko.split('\n')
txt_ko

['홍길동',
 '이순신',
 '강감찬',
 '이성계',
 '을지문덕',
 '연개소문',
 '안중근',
 '김구',
 '정도전',
 '이황',
 '유재석',
 '박명수',
 '정준하',
 '정형돈',
 '노홍철',
 '하동훈']

In [6]:
txt_num = re.sub("[|A-Z,a-z-가-힣|]","",strings)
txt_num

'\n202001001\n202001002\n202001003\n202001004\n202001005\n202001006\n202001007\n202001008\n202001009\n202001010\n202001011\n202001012\n202001013\n202001014\n202001015\n202001016\n'

In [7]:
txt_num = txt_num.strip()
txt_num

'202001001\n202001002\n202001003\n202001004\n202001005\n202001006\n202001007\n202001008\n202001009\n202001010\n202001011\n202001012\n202001013\n202001014\n202001015\n202001016'

In [8]:
txt_num = txt_num.split('\n')
txt_num

['202001001',
 '202001002',
 '202001003',
 '202001004',
 '202001005',
 '202001006',
 '202001007',
 '202001008',
 '202001009',
 '202001010',
 '202001011',
 '202001012',
 '202001013',
 '202001014',
 '202001015',
 '202001016']

In [17]:
ls_ko = pd.Series(txt_ko, index=ls_num)
ls_num = pd.Series(txt_num)
print(ls_ko)
print(ls_num)

202001001     홍길동
202001002     이순신
202001003     강감찬
202001004     이성계
202001005    을지문덕
             ...
202001012     박명수
202001013     정준하
202001014     정형돈
202001015     노홍철
202001016     하동훈
Length: 16, dtype: object
0     202001001
1     202001002
2     202001003
3     202001004
4     202001005
        ...
11    202001012
12    202001013
13    202001014
14    202001015
15    202001016
Length: 16, dtype: object

In [19]:
df = pd.DataFrame({'Name' : ls_ko})
df

           Name
202001001   홍길동
202001002   이순신
202001003   강감찬
202001004   이성계
202001005  을지문덕
...         ...
202001012   박명수
202001013   정준하
202001014   정형돈
202001015   노홍철
202001016   하동훈

[16 rows x 1 columns]

In [23]:
# 학번 홀수
df1 = df[0::2]
df1

           Name
202001001   홍길동
202001003   강감찬
202001005  을지문덕
202001007   안중근
202001009   정도전
202001011   유재석
202001013   정준하
202001015   노홍철

In [24]:
# 학번 짝수
df2 = df[1::2]
df2

           Name
202001002   이순신
202001004   이성계
202001006  연개소문
202001008    김구
202001010    이황
202001012   박명수
202001014   정형돈
202001016   하동훈