https://youtube-rank.com/
https://youtube-rank.com/board/bbs/board.php?
순위, 카테고리, 채널, 구독자수, 조회수, 비디오수
셀레늄으로 해당페이지를 열고 + BS4를 사용해서 크롤링
https://youtube-rank.com/board/bbs/board.php?
10페이지

In [41]:
import time
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(2)

In [3]:
# soup
soup = BeautifulSoup(driver.page_source, 'html.parser')
trs = soup.select('tr.aos-init')
len(trs)

100

In [4]:
tr = trs[0]

In [17]:
rank = tr.select_one('.rank').get_text().strip()
rank

'1'

In [23]:
category = tr.select_one('.category').get_text().strip()[1:-1]
category

'음악/댄스/가수'

In [32]:
channel = tr.select_one('.subject a').get_text().strip()
channel

'BLACKPINK'

In [26]:
subscriber = tr.select_one('.subscriber_cnt').get_text().strip()
subscriber

'8680만'

In [28]:
view = tr.select_one('.view_cnt').get_text().strip()
view

'303억4016만'

In [29]:
video = tr.select_one('.video_cnt').get_text().strip()
video

'505개'

In [33]:
# 첫페이지 크롤링
lines = []
for tr in trs:
    rank = tr.select_one('.rank').get_text().strip()
    category = tr.select_one('.category').get_text().strip()[1:-1]
    channel = tr.select_one('.subject a').get_text().strip()
    view = tr.select_one('.view_cnt').get_text().strip()
    video = tr.select_one('.video_cnt').get_text().strip()
    lines.append([rank, category, channel, subscriber, view, video])

In [34]:
df = pd.DataFrame(lines, columns=['순위', '카테고리', '채널', '구독자수', '조회수', '영상수'])
df

     순위       카테고리                 채널   구독자수        조회수      영상수
0     1   음악/댄스/가수          BLACKPINK  8680만  303억4016만     505개
1     2   음악/댄스/가수          BANGTANTV  8680만  200억7895만   2,174개
2     3   음악/댄스/가수        HYBE LABELS  8680만  272억1306만   1,142개
3     4   음악/댄스/가수             SMTOWN  8680만  267억4680만   4,108개
4     5   음악/댄스/가수  JYP Entertainment  8680만  192억3639만   1,662개
..  ...        ...                ...    ...        ...      ...
95   96     키즈/어린이        뽀로로(Pororo)  8680만   68억3934만   4,151개
96   97    애완/반려동물    SBS TV동물농장x애니멀봐  8680만   46억2878만   4,147개
97   98     키즈/어린이     CoCosToy 꼬꼬스토이  8680만   29억7937만     684개
98   99  음식/요리/레시피  Cooking tree 쿠킹트리  8680만    4억8734만   1,453개
99  100      TV/방송         JTBC Drama  8680만   52억2976만  27,723개

[100 rows x 6 columns]

In [38]:
def convert_unit(s):
    s = s.replace("억", "").replace("개", "").replace(',','').replace('만', '0,000')
    return f'{int(s):,d}'

In [39]:
convert_unit('303억4016만')

ValueError: invalid literal for int() with base 10: '30340160,000'

In [40]:
for column in df.columns[3:]:
    df[column] = df[colunm].apply(convert_unit)
df.head

NameError: name 'colunm' is not defined

In [45]:
lines = []
for page in tqdm(range(1, 11)):
    url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page=' + str(page)
    driver.get(url)
    time.sleep(2)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    trs = soup.select('tr.aos-init')
    
    for tr in trs:
        rank = tr.select_one('.rank').get_text().strip()
        category = tr.select_one('.category').get_text().strip()[1:-1]
        channel = tr.select_one('.subject a').get_text().strip()
        view = tr.select_one('.view_cnt').get_text().strip()
        video = tr.select_one('.video_cnt').get_text().strip()
    lines.append([rank, category, channel, subscriber, view, video])

  0%|          | 0/10 [00:00<?, ?it/s]

In [46]:
df = pd.DataFrame(lines, columns=['순위', '카테고리', '채널', '구독자수', '조회수', '영상수'])
df

    순위      카테고리                  채널   구독자수       조회수      영상수
0  100     TV/방송          JTBC Drama  8680만  52억2976만  27,723개
1  199    취미/라이프          ASMR PPOMO  8680만   7억9147만     590개
2  297    키즈/어린이              대문밖장덕대  8680만   9억2704만   1,639개
3  404  음악/댄스/가수            Lemoring  8680만  10억9611만     567개
4  502       미분류      제발돼라 PleaseBee  8680만   3억5203만     235개
5  594    키즈/어린이          Toystar TV  8680만   5억0580만      99개
6  697    스포츠/운동                말왕TV  8680만   3억8778만     987개
7  801    키즈/어린이  Boram Tube Friends  8680만      736만      73개
8  901       미분류         유 퀴즈 온 더 튜브  8680만   4억6443만   4,131개
9  998     TV/방송    KBS COMEDY: 크큭티비  8680만  10억2626만   7,921개