In [11]:
!pip install pandas

Requirement already satisfied: pandas in c:\python38\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\python38\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python38\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\python38\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
import pandas as pd

In [15]:
dict_data = {'a':1,'b':2,'c':3}
sr = pd.Series(dict_data)

In [17]:
print(type(dict_data))
print(type(sr))

<class 'dict'>
<class 'pandas.core.series.Series'>

In [18]:
print(sr)

a    1
b    2
c    3
dtype: int64

In [19]:
list_data = ['2018-01-01', 3.14, 'abc', 100, True]
sr_lis = pd.Series(list_data)

In [20]:
print(sr_lis)

0    2018-01-01
1          3.14
2           abc
3           100
4          True
dtype: object

In [21]:
idx = sr_lis.index
val = sr_lis.values

In [22]:
print(idx)

RangeIndex(start=0, stop=5, step=1)

In [23]:
print(val)

['2018-01-01' 3.14 'abc' 100 True]

In [24]:
tup_data = ('영인', '2010-05-01', '여', True)
sr_tup = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])

In [25]:
print([sr_tup])

[이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object]

In [26]:
# 원소를 1개 선택하는 2가지 방식
print(sr_tup[0]) # sr의 1번째 우너소를 선택(정수형 위치 인덱스를 활용)
print(sr_tup['이름']) # '이름'라벨을 가진 원소를 선택(인덱스 이름을 활용)

영인
영인

In [28]:
# 여러개 원소 선택하는 2가지 방식
print(sr_tup[[1, 2]])
print(sr_tup[['생년월일', '성별']])

생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
성별               여
dtype: object

# 시리즈 생성 실습

In [29]:
# 9904312, 3448737, 2890451, 2466052
#  서울     부산     인천     대구

In [30]:
# 1. 시리즈 만들기
# 2. 인덱싱 부산 2가지 방식
# 3. 부산과 대구 인덱싱 2가지 방식
sr = pd.Series([9904312, 3448737, 2890451, 2466052], index=['서울', '부산', '인천', '대구'])
print(sr)
print(sr[1], sr['부산'])
print(sr[[1,3]], sr[['서울', '부산']])

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64
3448737 3448737
부산    3448737
대구    2466052
dtype: int64 서울    9904312
부산    3448737
dtype: int64

In [31]:
for key, value in sr.items():
  print(f'key{key}이고 value는 {value}다')

key서울이고 value는 9904312다
key부산이고 value는 3448737다
key인천이고 value는 2890451다
key대구이고 value는 2466052다

In [32]:
# 시리즈는 넘파이 1차원 배열로 변환된다.
sr/100000

서울    99.04312
부산    34.48737
인천    28.90451
대구    24.66052
dtype: float64

In [33]:
# 딕셔너리는 아래와 같은 연산이 안됨
dict_sr = {'서울':999999, '부산':333333}
dict_sr/1000

TypeError: unsupported operand type(s) for /: 'dict' and 'int'

In [34]:
sr2 = pd.Series({'서울':9631482, '부산':3393191, '인천':2632035, '대전':1490158})
sr = pd.Series([9904312, 3448737, 2890451, 2466052], index=['서울', '부산', '인천', '대구'])
# 인덱스 값이 다른 데이터는 연산이 되지만 잘 안됨
# 연산이 안되는 것의 결과는 NaN(Not a Number, 결측치)
# np.nan 데이터 타입은 실수 float
sr - sr2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [35]:
sr.index, sr.values

(Index(['서울', '부산', '인천', '대구'], dtype='object'),
 array([9904312, 3448737, 2890451, 2466052], dtype=int64))

In [36]:
# 엘러먼트의 개수를 세는 method
sr.count()

4

In [37]:
sr2.count()

4

In [38]:
ds.count() #nan은 갯수로 치지 않는다

NameError: name 'ds' is not defined

In [39]:
# 카테고리의 값 세는 method
sr.value_counts()

9904312    1
3448737    1
2890451    1
2466052    1
dtype: int64

In [41]:
# 값을 세는 method 예시
!pip install seaborn

Requirement already satisfied: seaborn in c:\python38\lib\site-packages (0.12.2)
Requirement already satisfied: pandas>=0.25 in c:\python38\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\python38\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\python38\lib\site-packages (from seaborn) (1.24.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (5.12.0)
Requirement already satisfied: packaging>=20.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\python38\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: zipp>=3.1.0 in c:\python38\lib\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.15.0)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [43]:
import seaborn as sns
iris = sns.load_dataset('iris')
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [44]:
# 카테고리형 자료의 종류의 갯수를 알려주는 메소드
iris['sepal_length'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [45]:
iris['sepal_length'].value_counts()

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: sepal_length, dtype: int64

In [46]:
# 인구데이터의 전체 합과 평균
sr.sum(), sr.mean()

(18709552, 4677388.0)

In [47]:
#  정렬 메소드
sr.sort_values(ascending=False) #default는 ascending=True 오름차순

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64