1) DB 생성

In [ ]:
import pandas as pd

df=pd.read_csv('c:/workspace/data/mart/gs25.csv',encoding='ms949')

df.head()

In [ ]:
df.describe()

#2707786건

In [ ]:
#결과를 mysql table로 저장(시간이 오래걸림)

from sqlalchemy import create_engine

engine = create_engine("mysql+mysqldb://web:1234@localhost/myweb", encoding='utf-8')

conn = engine.connect()

#필드명 수정

df.columns=['sido', 'tm', 'gender', 'age' , 'category', 'amount', 'gu']

df.to_sql(name="gs25", con=engine, if_exists='replace', index=False)

In [ ]:
import pandas as pd

df=pd.read_csv('c:/workspace/data/mart/temperature.csv',encoding='ms949')

df.head()

In [ ]:
df.describe()

#59113건

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqldb://web:1234@localhost/myweb", encoding='utf-8')

conn = engine.connect()

# replace : 테이블 삭제 후 저장

# append : 레코드 추가

# fail : 실패, 기본동작

#필드명 수정

#관측일,관측번호,법정동코드.최고기온,최대풍속,최소기온,평균기온,평균 상대습도,평균 풍속, 합계 강수량

df.columns=['tm', 'stn_id', 'pvn_nm','bor_nm','max_ta', 'max_ws' , 'min_ta', 'avg_ta', 'avg_rhm','avg_ws','sum_rn']

df.to_sql(name="temperature", con=engine, if_exists='replace', index=False)